{% extends 'dashboard.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}

<div class="row">
    <div class="col">

    <h1 class="text-center my-3">Mes réservations</h1>

    {# si connecté, montrer le récap de al réservation puis le paiement
    sinon demander à se connecter ou à créer un compte pour valider la réservation #}
    {# {{ if granted }}  #}
    
        <div class="mx-5">
            <p>Date : </p>
            <p>Nom : </p>
            <p>Nombre de personnes :</p>
            <p>Lieu : </p>
            <p>Durée :</p>
        </div>
    </div>  
</div>
{% endblock %}