{% extends 'dashboard.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}

<div class="example-wrapper">

    <h1>Mes réservations</h1>
          
        <p>Date : </p>
        <p>Nom : </p>
        <p>Nombre de personnes :</p>
        <p>Lieu : </p>
        <p>Durée :</p>
        <p>
            {# <a 
            href="{{ path('edit_user', { 'id': user.id} )}}" 
                class="btn btn-primary">
                Modifier
            </a> #}
        </p>

           
</div>
{% endblock %}