{% extends 'dashboard.html.twig' %}

{% block title %}Gérer mes réservations{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Gérer mes réservations</h1>

    {# <div class="col-8">
        <br>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button type="submit" class="btn btn-success">
            Enregistrer
        </button>
        <br><br>
        {{ form_end(userForm) }}
    </div> #}
</div>
{% endblock %}