{% extends 'dashboard.html.twig' %}

{% block title %}Gérer mon compte{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Gérer mon compte</h1>

        <p>Email : {{ user.email }}</p>
        <p>Prénom : {{ user.firstname }}</p>
        <p>Nom : {{ user.lastname }}</p>

        <p>
            <a 
            href="{{ path('user_edit_user', { 'id': user.id} )}}" 
                class="btn btn-success">Modifier</a>
        </p>
           
</div>
{% endblock %}
