{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!{% endblock %}

{% block body %}
{# templates/emails/signup.html.twig #}
    <h1> Hello </h1>

    Name :{{ name }}


{% endblock %}
